html,body{
	margin:0px;
	padding:0px;
}


#main{
max-width:1200px;
margin:0px auto;
padding-top:100px;
}

#main > .title{
font-size:2em;
font-weight:bold;	
}

.result-container{
margin-bottom:10px;
/* margin-left:50px; */
/* background-color:red; */
}

.result-container .item{
/* background-color:green; */
}

.result-container .item .filename{
padding-left:10px;
background-color:#b0b0b0;
/* margin-bottom:10px; */
}

.result-container .item .line-index{
padding-left:10px;
background-color:#b0b0b0;
}

.result-container .item .snippet{
/* margin-left:10px; */
background-color:white;
white-space: pre;
margin-bottom:20px;
border:5px solid #e4e4e4;
overflow:hidden;
}


.result-container .item .snippet .query-match{
color:red;
font-weight:bold;
}

.result-container .item .snippet .line:nth-child(even){	
background-color:#e8e8ff;
}

.search-details{
display:none;
}

#search-form input[type="text"]{
width:500px;
}
